html {
  text-align: center;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #111951 0%, #421F6F 30%, #612384 100%) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
}

form {
  font-size: 23px;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 99%;
}

input {
  position: relative;
  bottom: 5px;
  height: 20px;
  border-radius: 25px;
  border-width: 0px;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 23px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#error {
  color: red;
  font-size: 23px;
}

#submit {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  height: 40px;
  width: 200px;
  font-size: 20px;
}

#submit:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

.split {
  font-size: 35px;
  font-weight: bold;
}